

body{
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}

h1{
    font-size: 50px;
    margin: 18px 0 -9px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
    font-size: 20px;
    text-align: justify;
    padding-right: 10px;
}

.name-highlight{
    color:rgb(179, 2, 179);
}
a.name-highlight {
    text-decoration: none;
}

a.name-highlight:hover {
    color: white;
    background-image: linear-gradient(to right bottom, #260537, #4f0d56, #7e1373, #b3158c, #eb12a0);
    text-decoration: none;
    border-radius: 5px;
    padding: 0 4px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 80%;
}

.top-section{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right bottom, #260537, #4f0d56, #7e1373, #b3158c, #eb12a0);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

section{
    height: 400px;
    padding-bottom: 150px;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
