

body{
    font-family: 'Philosopher', sans-serif;
}

h1{
    font-size: 50px;
}

.name-highlite{
    color:rgb(179, 2, 179);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}
