

body{
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}

h1{
    font-size: 50px;
}

.name-highlite{
    color:rgb(179, 2, 179);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 8%;
    padding-left: 2%;
}

.half-width img{
    width: 75%;
}

.top-section{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link-button{
    text-decoration: none;
    background-color: rgb(197, 5, 117);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-w
}

section{
    height: 500px;
}